#dialog-jg,
#dialog-adrianC {
    all: unset;
    width: 30%;
    border: 1px solid #d6d6d6;
    margin-left: 35%;
    margin-right: 35%;
    position: fixed;
    height: 300px;
    overflow: scroll;
    top: 100px;
    z-index: 100 !important;
}

.elipsis {
    display: inline-block;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#dialog-jg-ol,
#dialog-adrianC-ol {
    background: white;
    margin-left: 0px;
}

#dialog-jg-ol li:first-child,
#dialog-adrianC-ol li:first-child {
    padding-top: 30px;
}

#dialog-jg-ol li:last-child,
#dialog-adrianC-ol li:last-child {
    padding-bottom: 20px;
}

#dialog-adrianC-ol li {
    background: white;
    padding: 0px 15px;
}

#dialog-jg-ol li {
    background: white;
    padding: 5px 15px;
}

#jg-drp-tb123 {
    position: relative;
    z-index: 1000000 !important;
    height: 23px !important;
    all: unset;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    display: none;
    color: white !important;
    border-left: 3px double #d9d9d9 !important;
}

;
.batonki-cbx {
    width: 20px !important;
}

.imgAdrianC,
#openall {
    max-width: 15px !important;
    cursor: pointer !important;
    padding-left: 10px !important;
    all: unset;
}

;
input#reloadCB {
    position: relative !important;
    top: 3px !important;
    left: 0px !important;
}

#closure,
#mainnode,
#opening,
#openallclick,
#copynodeclick,
#copyToClipAC,
#macoverlayclick {
    cursor: pointer;
}

#closure:hover,
#mainnode:hover,
#opening:hover,
#openallclick:hover,
#copynodeclick:hover,
copyToClipAC:hover,
#macoverlayclick:hover {
    color: #d9d9d9;
    cursor: pointer;
}

#popup1 {
    border: 1px solid red;
    width: 30%;
    width: 40% !important;
    height: 200px !important;
    background: grey;
    margin-left: 30% !important;
    margin-right: 30% !important;
    /* text-align: center !important; */
    position: fixed !important;
    z-index: 100000000000 !important;
    background: white !important;
    overflow: scroll !important;
    padding: 10px !important;
}

#mainnode {
    display: inline;
}

#openallclick {
    display: inline;
}

#copynodeclick {
    display: none;
}

#macoverlayclick {
    display: none;
}

#ddpPuhtoolButton{ 
    font-family: "Open Sans",sans-serif;
    line-height: 1.8em;
    font-size: 12px; 
    padding: .8em 3em;
    margin-bottom: 20px;
    background: #8c8c8c;
    color: #fff;
    border: 0;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    border-radius: .2rem;
    transition: .5s background-color,.5s box-shadow;
    cursor: pointer;
}

#ddpPuhtoolButton:hover, .clicked {
    background: #474747 !important;
    color: #fff;
}